<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key> chest_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,167}</string>
                <key>spriteSourceSize</key>
                <string>{171,167}</string>
                <key>textureRect</key>
                <string>{{0,0},{171,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,149}</string>
                <key>spriteSourceSize</key>
                <string>{171,149}</string>
                <key>textureRect</key>
                <string>{{0,167},{171,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,153}</string>
                <key>spriteSourceSize</key>
                <string>{171,153}</string>
                <key>textureRect</key>
                <string>{{0,316},{171,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,156}</string>
                <key>spriteSourceSize</key>
                <string>{171,156}</string>
                <key>textureRect</key>
                <string>{{0,469},{171,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,160}</string>
                <key>spriteSourceSize</key>
                <string>{171,160}</string>
                <key>textureRect</key>
                <string>{{0,625},{171,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,164}</string>
                <key>spriteSourceSize</key>
                <string>{171,164}</string>
                <key>textureRect</key>
                <string>{{0,785},{171,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,172}</string>
                <key>spriteSourceSize</key>
                <string>{171,172}</string>
                <key>textureRect</key>
                <string>{{0,949},{171,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,178}</string>
                <key>spriteSourceSize</key>
                <string>{171,178}</string>
                <key>textureRect</key>
                <string>{{0,1121},{171,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chest_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,182}</string>
                <key>spriteSourceSize</key>
                <string>{171,182}</string>
                <key>textureRect</key>
                <string>{{0,1299},{171,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chest_opening.png</string>
            <key>size</key>
            <string>{171,1481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70e220214355dd606eda5bca5b03c871:07d52544b64a58d55549f0397947d358:641b0ba9d1e32c994d8781b91e69ae14$</string>
            <key>textureFileName</key>
            <string>chest_opening.png</string>
        </dict>
    </dict>
</plist>
