<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>continue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1208,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1510,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{906,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1208,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1510,604},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{906,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1208,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1510,906},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{906,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1208,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1510,1208},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{906,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,1510},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,1510},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,1510},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1208,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{1510,0},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{0,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{302,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{604,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,302}</string>
                <key>spriteSourceSize</key>
                <string>{302,302}</string>
                <key>textureRect</key>
                <string>{{906,302},{302,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>continue_animation.png</string>
            <key>size</key>
            <string>{1812,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6fa7b1868835e0e2b9528621dc2f919:7c1722720ff426207abafbddfd24e994:031c1dd33f37efd0589110f553283b13$</string>
            <key>textureFileName</key>
            <string>continue_animation.png</string>
        </dict>
    </dict>
</plist>
